<div class="contact-container">
  <!-- Logotipo -->
  <div class="logo-container">
      <img src="assets/img/logotipomoto.png" alt="Logotipo" class="logo">
  </div>

  <h2>Contacta con nosotros</h2>
  <p>Si tienes alguna pregunta o inquietud, no dudes en comunicarte con nosotros a través de los siguientes métodos de contacto.</p>
  
  <div class="contact-icons">
    <!-- WhatsApp -->
    <a href="https://wa.me/685774972" target="_blank" class="contact-item">
        <img src="assets/img/whatsapp.png" alt="WhatsApp">
        <span>WhatsApp</span>
    </a>
    
    <!-- Email -->
    <a href="mailto:javialarcon29@gmail.com" target="_blank" class="contact-item">
        <img src="assets/img/gmail.png" alt="Email">
        <span>Email</span>
    </a>

    <!-- Teléfono -->
    <a href="tel:+34685774972" class="contact-item">
        <img src="assets/img/llamada-telefonica.png" alt="Teléfono">
        <span>Teléfono</span>
    </a>
</div> 



 

  <!-- Política de devoluciones y reembolsos -->
  <div class="refund-policy">
      <h3>Política de devoluciones y reembolsos</h3>
      <p>En nuestra empresa, la satisfacción del cliente es nuestra prioridad. Si no estás satisfecho con tu compra, puedes solicitar una devolución dentro de los primeros 30 días desde la fecha de compra.</p>
      <ul>
          <li>Los productos deben estar en las mismas condiciones en que fueron recibidos.</li>
          <li>Las devoluciones pueden procesarse contactando a nuestro equipo de atención al cliente.</li>
          <li>Los reembolsos se emiten en el mismo método de pago utilizado durante la compra.</li>
          <li>El proceso de reembolso puede tardar de 5 a 10 días hábiles después de que recibamos el producto.</li>
      </ul>
      <p>Si tienes alguna pregunta sobre devoluciones o reembolsos, contáctanos a través de <a href="mailto:tuEmail@correo.com">correo electrónico</a> o <a href="https://wa.me/tuNumeroDeWhatsApp" target="_blank">WhatsApp</a>.</p>
  </div>
</div>
